#divGameBoard {
    height: 550px;
    background-image: url("../bilder/beach.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
    border: 5px solid black;
    margin: 14px auto;
    width: 90%;
    max-width: 1000px;
    position: relative;
}
#btnStart {
    background-color: white;
    font-family: minecraftFont;
    font-size: 36px;
    position: relative;
    padding: 14px 20px;
    border: 3px solid black;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}
#btnStart:hover {
    cursor: pointer;
}
#divBall {
    visibility: hidden;
    width: 60px;
    height: 60px;
    top: 15%;
    background-image: url("../bilder/beachball.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: .7s ease;
    transform: translateX(-50%);
}
#parPoints, #parHealthBar, #parLevel {
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 14px 16px;
    font-size: 24px;
}
#parPoints {
    left: 0%;
}
#parHealthBar {
    right: 0%;
}
#parLevel {
  left: 0%;
  top: 5%;
}
#parQuestion {
    visibility: hidden;
    position: absolute;
    margin: 0;
    padding: 10px;
    line-height: -20px;
    font-size: 32px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    margin: 10px 0px;
    border: 3px solid black;
    z-index: 2;
}
.divPlatform {
    visibility: hidden;
    background-image: url("../bilder/kiste.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    margin: 0;
    top: 80%;
    height: 100px;
    width: 150px;
    transform: translateX(-50%);
}
#box0, #parAnswer0 {
    left: 10%;
}
#box1, #parAnswer1 {
    left: 50%;
}
#box2, #parAnswer2 {
    left: 90%;
}
.divSpeechBubble {
    visibility: hidden;
    position: absolute;
    background-image: url("../bilder/boble.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 72%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    transform: translateX(-50%);
    height: 60px;
    width: 100px;
    margin: 0;
}
#parMessage {
    visibility: hidden;
    position: absolute;
    top: 25%;
    text-align: center;
    background-color: white;
    padding: 15px;
    border: 3px solid black;
    font-size: 36px;
    left: 50%;
    transform: translateX(-50%);
}
